:root {
    --html-font-size: 1em;
    --pixel-to-rem: 16 * 1rem;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-weight: 400;
    --monospace-font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", monospace;
    --body-background-color: #fff;
    --panel-background-color: #f6f8fa;
    --panel-group-background-color: #e1e8e8;
    --panel-border-color: #eaedf0;
    --color-accent-1: #ebf2f2;
    --color-accent-2: #d7e7e7;
    --color-accent-3: #6db33f;
    --body-font-color: #191e1e;
    --body-font-light-color: #273030;
    --body-font-dark-color: #141818;
    --link-font-color: #1565c0;
    --hover-link-font-color: #104d92;
    --scrollbar-thumb-color: silver;
    --mark-background-color: #39ff14;
    --selected-background-color: #191e1e;
    --layout-banner-logo-offset: 18px;
    --layout-banner-logo-height: 50px;
    --layout-max-width: 1400px;
    --layout-banner-height: 80px;
    --layout-border-color: var(--color-accent-1);
    --layout-switchtheme-invert-filter: invert();
    --layout-switchtheme-background-color: var(--body-background-color);
    --layout-switchtheme-button-color: var(--body-background-color);
    --layout-switchtheme-button-hover-color: var(--color-accent-1);
    --toc-width: 24rem;
    --toc-display: block;
    --toc-font-color: var(--body-font-color);
    --toc-hover-background-color: var(--color-accent-1);
    --toc-active-background-color: var(--selected-background-color);
    --toc-active-font-color: var(--body-background-color);
    --toc-back-to-index-filter: none;
    --toc-bar-display: none;
    --toc-bar-height: 0;
    --toc-bar-button-filter: none;
}

@media screen and (max-width: 1024px) {
    :root {
        --toc-width: 16rem;
        --asciidoctor-doc-embellishment-margin-width: 140px
    }
}

@media screen and (max-width: 800px) {
    :root {
        --layout-banner-height: 51px;
        --layout-banner-logo-height: 30px;
        --layout-banner-logo-offset: 10px;
        --layout-border-color: var(--body-background-color);
        --toc-bar-display: block;
        --toc-bar-height: 24px;
        --toc-width: 0;
        --toc-display: none;
        --asciidoctor-doc-embellishment-margin-width: 0
    }
}

html.dark-theme {
    --font-weight: 300;
    --body-background-color: #1b1f23;
    --panel-background-color: #262a2d;
    --panel-group-background-color: #303741;
    --panel-border-color: #2c3135;
    --color-accent-1: #272c33;
    --color-accent-1-invert: #d8d3cc;
    --color-accent-2: #2d333a;
    --color-accent-3: #6db33f;
    --body-font-color: #bbbcbe;
    --body-font-light-color: #abacaf;
    --body-font-dark-color: #cecfd1;
    --link-font-color: #086dc3;
    --hover-link-font-color: #107ddd;
    --scrollbar-thumb-color: #5f5f5f;
    --mark-background-color: #2eca12;
    --selected-background-color: #8d8d8d;
    --layout-switchtheme-invert-filter: none;
    --layout-switchtheme-background-color: var(--selected-background-color);
    --asciidoctor-code-background: rgba(177, 209, 241, .15);
    --asciidoctor-code-data-lang-color: #6e6e6e;
    --asciidoctor-admonition-font-color: #f0f0f0;
    --asciidoctor-admonition-caution-background: #603668;
    --asciidoctor-admonition-important-background: #924040;
    --asciidoctor-admonition-note-background: #355463;
    --asciidoctor-admonition-tip-background: #4d6340;
    --asciidoctor-admonition-warning-background: #967745;
    --asciidoctor-footer-font-color: #5e5e5e;
    --highlight-background-color: var(--asciidoctor-pre-background);
    --highlight-font-color: #f6f8fa;
    --highlight-keyword-font-color: #ea4a5a;
    --highlight-comment-font-color: #959da5;
    --highlight-string-font-color: #79b8ff;
    --highlight-meta-font-color: #959da5;
    --highlight-constant-font-color: #79b8ff;
    --highlight-variable-font-color: #c8e1ff;
    --highlight-tag-font-color: #7bcc72;
    --highlight-tag-attribute-font-color: #b392f0;
    --highlight-type-font-color: #b392f0;
    --highlight-link-font-color: #1565c0;
    --highlight-addition-font-color: #7bcc72;
    --highlight-deletion-font-color: #f6f8fa;
    --highlight-regex-font-color: #79b8ff;
    --toc-back-to-index-filter: invert();
    --toc-bar-button-filter: invert();
    --codetools-button-filter: invert();
    --codetools-button-active-filter: none;
    --codetools-hover-background-color: var(--color-accent-1-invert);
    --codetools-border-color: hsla(0, 0%, 100%, .274);
    --codetools-divider-color: rgba(44, 44, 44, .274)
}

html {
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none
}

html {
    font-size: var(--html-font-size);
    height: 100%;
    min-width: 340px;
    scroll-behavior: smooth
}

body {
    background-color: var(--body-background-color);
    color: var(--body-font-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    margin: 0;
    overflow-wrap: anywhere;
    overscroll-behavior: none
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

a:active {
    background-color: none
}

code,
kbd,
pre {
    font-family: var(--monospace-font-family)
}

@supports(scrollbar-width:thin) {
    body * {
        scrollbar-color: var(--scrollbar-thumb-color) transparent;
        scrollbar-width: thin
    }
}

table {
    word-wrap: normal;
    border-collapse: collapse
}

mark {
    background: var(--mark-background-color)
}

#header-bar {
    border-bottom: 1px solid var(--layout-border-color);
    height: var(--layout-banner-height);
    overflow: hidden
}

#banner {
    background: no-repeat top var(--layout-banner-logo-offset) left var(--layout-banner-logo-offset)/auto var(--layout-banner-logo-height);
    background-image: url(https://sharunthomas.github.io/thedevelopersworkshop/images/the-developers-workshop.png);
    height: 100%
}

#doc {
    overflow: auto
}

.contained {
    margin: 0 auto;
    max-width: var(--layout-max-width)
}

#switch-theme label,
div#switch-theme {
    display: none
}

html.js div#switch-theme {
    display: block;
    float: right;
    margin: 8px 6px 0 0
}

#switch-theme input,
#switch-theme input:before {
    border-radius: 25px;
    filter: var(--layout-switchtheme-invert-filter)
}

#switch-theme input:before {
    background-color: var(--layout-switchtheme-button-color);
    content: "";
    height: 18px;
    left: 2px;
    position: absolute;
    top: 2px;
    transition: transform .2s;
    width: 18px
}

#switch-theme:hover input:before {
    background-color: var(--layout-switchtheme-button-hover-color)
}

#switch-theme input:checked:before {
    transform: translateX(18px)
}

.doc {
    color: var(--asciidoctor-font-color);
    -webkit-hyphens: none;
    hyphens: none;
    letter-spacing: -.0027777778rem;
    line-height: 1.6;
    margin: 0
}

.doc #content,
.doc #footer {
    margin: 0 2rem
}

.doc #header>:not(#toc) {
    margin-left: 2rem;
    margin-right: 2rem
}

.doc #content {
    padding-bottom: 4rem
}

.doc #header div.details {
    display: flex;
    flex-wrap: wrap
}

#header .details br {
    display: none
}


.doc .sect1+.sect1 {
    border-top: 1px solid var(--asciidoctor-section-divider-color)
}

.doc h1 {
    font-size: 2.3em
}

.doc h2 {
    font-size: 2em
}

.doc h3 {
    font-size: 1.7em
}

.doc h4 {
    font-size: 1.6em
}

.doc h5 {
    font-size: 1.4em
}

.doc h6 {
    font-size: 1.3em
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
    color: var(--asciidoctor-heading-font-color);
    font-weight: var(--asciidoctor-heading-font-weight);
    -webkit-hyphens: none;
    hyphens: none;
    line-height: 1.3;
    margin: 1.3rem 0 0;
    padding-top: 1.8rem
}

.doc h1.sect0 {
    background: var(--asciidoctor-abstract-background);
    font-size: 1.8em;
    margin: 1.5rem -1rem 0;
    padding: .5rem 1rem
}

.doc h1:first-child {
    margin: 1.3rem 0
}

.doc h2:not(.discrete) {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1.8rem 1rem .1rem
}

.doc h3:not(.discrete) {
    font-weight: var(--asciidoctor-alt-heading-font-weight)
}

.doc h1 .anchor,
.doc h2 .anchor,
.doc h3 .anchor,
.doc h4 .anchor,
.doc h5 .anchor,
.doc h6 .anchor {
    font-weight: 400;
    margin-left: -2ex;
    padding-left: .5ex;
    position: absolute;
    text-decoration: none;
    visibility: hidden;
    width: 2.25ex
}

.doc h1 .anchor:before,
.doc h2 .anchor:before,
.doc h3 .anchor:before,
.doc h4 .anchor:before,
.doc h5 .anchor:before,
.doc h6 .anchor:before {
    content: "\0023"
}

.doc h1:hover .anchor,
.doc h2:hover .anchor,
.doc h3:hover .anchor,
.doc h4:hover .anchor,
.doc h5:hover .anchor,
.doc h6:hover .anchor {
    visibility: visible
}

.doc dl,
.doc p {
    margin: 0
}

.doc a.bare {
    -webkit-hyphens: none;
    hyphens: none
}

.doc a {
    color: var(--asciidoctor-link-font-color)
}

.doc a:hover {
    color: var(--asciidoctor-hover-link-font-color)
}

.doc a.unresolved {
    color: var(--asciidoctor-unresolved-link-font-color)
}

.doc .admonitionblock code,
.doc p code,
.doc thead code {
    background: var(--asciidoctor-code-background);
    border-radius: .25em;
    color: var(--asciidoctor-code-font-color);
    font-size: .95em;
    padding: .125em .25em
}

.doc .admonitionblock a code,
.doc p a code,
.doc thead a code {
    color: var(--asciidoctor-code-link-font-color)
}

.doc code,
.doc pre {
    -webkit-hyphens: none;
    hyphens: none
}

.doc pre {
    font-size: calc(14/var(--pixel-to-rem));
    line-height: 1.3;
    margin: 0
}

.doc .listingblock pre:not(.highlight),
.doc .literalblock pre,
.doc pre.highlight code {
    background: var(--asciidoctor-pre-background);
    border-radius: 4px;
    box-shadow: inset 0 0 1.75px var(--asciidoctor-pre-border-color);
    display: block;
    overflow-x: auto;
    padding: .95rem
}

.doc pre.highlight code[data-lang]:before {
    color: var(--asciidoctor-code-data-lang-color);
    content: attr(data-lang);
    display: block;
    font-size: .65em;
    line-height: 1;
    position: absolute;
    right: .3rem;
    text-transform: uppercase;
    top: .3rem
}

.doc pre.highlight {
    position: relative
}

.doc table pre.highlight code[data-lang]:before {
    display: none
}

.doc blockquote {
    margin: 0
}

.doc .paragraph.lead>p {
    font-size: calc(18/var(--pixel-to-rem))
}




.doc .sidebarblock>.content>.title {
    font-size: calc(23/var(--pixel-to-rem));
    font-weight: var(--asciidoctor-alt-heading-font-weight);
    line-height: 1.3;
    margin-bottom: 1.2rem
}

.doc .sidebarblock>.content>:not(.title):first-child {
    margin-top: 0
}

.doc b.button {
    white-space: nowrap
}

.doc b.button:before {
    content: "[";
    padding-right: .25em
}

.doc b.button:after {
    content: "]";
    padding-left: .25em
}

.doc .menuseq,
.doc .path {
    -webkit-hyphens: none;
    hyphens: none
}

.doc .menuseq i.caret:before {
    content: "\203a";
    font-size: 1.1em;
    font-weight: var(--asciidoctor-body-font-weight-bold);
    line-height: .90909
}

.doc kbd {
    background: var(--asciidoctor-kbd-background);
    border: 1px solid var(--asciidoctor-kbd-border-color);
    border-radius: .25em;
    box-shadow: 0 1px 0 var(--asciidoctor-kbd-border-color), 0 0 0 .1em var(--body-background) inset;
    display: inline-block;
    font-size: calc(12/var(--pixel-to-rem));
    padding: .25em .5em;
    vertical-align: text-bottom;
    white-space: nowrap
}

.doc .keyseq,
.doc kbd {
    line-height: 1
}

.doc .keyseq {
    font-size: calc(16/var(--pixel-to-rem))
}

.doc .keyseq kbd {
    margin: 0 .125em
}

.doc .keyseq kbd:first-child {
    margin-left: 0
}

.doc .keyseq kbd:last-child {
    margin-right: 0
}

.doc i.fa {
    font-style: normal;
    -webkit-hyphens: none;
    hyphens: none
}

.doc .language-console .hljs-meta {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.doc .dlist dt {
    font-style: italic
}

.doc .dlist dd {
    margin: 0 0 .25rem 1.5rem
}

.doc .dlist dd:last-of-type {
    margin-bottom: 0
}

.doc td.hdlist1,
.doc td.hdlist2 {
    padding: .5rem 0 0;
    vertical-align: top
}

.doc tr:first-child>.hdlist1,
.doc tr:first-child>.hdlist2 {
    padding-top: 0
}

.doc td.hdlist1 {
    font-weight: var(--body-font-weight-bold);
    padding-right: .25rem
}

.doc td.hdlist2 {
    padding-left: .25rem
}

.doc .colist {
    font-size: calc(16/var(--pixel-to-rem));
    margin: .25rem 0 -.25rem
}

.doc .colist>table>tbody>tr>:first-child,
.doc .colist>table>tr>:first-child {
    padding: .25em .5rem 0;
    vertical-align: top
}

.doc .colist>table>tbody>tr>:last-child,
.doc .colist>table>tr>:last-child {
    padding: .25rem 0
}

.doc .conum[data-value] {
    background: var(--asciidoctor-callout-background);
    border-radius: 100%;
    color: var(--asciidoctor-callout-font-color);
    display: inline-block;
    font-family: var(--monospace-font-family);
    font-size: calc(12.5/var(--pixel-to-rem));
    font-style: normal;
    height: 1.25em;
    letter-spacing: -.25ex;
    line-height: 1.2;
    text-align: center;
    text-indent: -.25ex;
    width: 1.25em
}

.doc .conum[data-value]:after {
    content: attr(data-value)
}

.doc .conum[data-value]+b {
    display: none
}

.doc hr {
    border: solid var(--asciidoctor-section-divider-color);
    border-width: 2px 0 0;
    height: 0
}

.doc :not(pre).nowrap {
    white-space: nowrap
}

.doc .nobreak {
    word-wrap: normal;
    -webkit-hyphens: none;
    hyphens: none
}

.doc .right {
    float: right
}

.doc .left {
    float: left
}

.doc .stretch {
    width: 100%
}

.doc .underline {
    text-decoration: underline
}

.doc .line-through {
    text-decoration: line-through
}

.doc .halign-left {
    text-align: left
}

.doc .halign-right {
    text-align: right
}

.doc .halign-center {
    text-align: center
}

.doc .valign-top {
    vertical-align: top
}

.doc .valign-bottom {
    vertical-align: bottom
}

.doc .valign-middle {
    vertical-align: middle
}

#footer #footer-text {
    border-top: 1px solid var(--asciidoctor-section-divider-color);
    color: var(--asciidoctor-footer-font-color);
    font-size: calc(14/var(--pixel-to-rem));
    padding: 2rem 0
}


.doc .tabs {
    border-style: none;
    bottom: 0;
    display: inline-block;
    font-size: calc(12/var(--pixel-to-rem));
    font-weight: 700;
    margin-bottom: calc(2/var(--pixel-to-rem));
    margin-top: .5rem;
    position: relative
}

.doc .tab,
.doc .tab:not(:first-child) {
    border: 1px solid var(--tabs-border-color)
}

.doc .tab {
    background-color: var(--tabs-background-color);
    border-radius: 0;
    color: var(--tabs-font-color);
    cursor: pointer;
    display: inline-block;
    margin-bottom: calc(2/var(--pixel-to-rem));
    padding: .3rem .6rem;
    transition: background-color .2s
}

.doc .tab:hover {
    background-color: var(--tabs-hover-background);
    color: var(--tabs-hover-font-color);
    text-decoration: underline
}

.doc .tab.selected {
    background-color: var(--tabs-selected-background-color);
    border-color: var(--tabs-selected-background-color);
    color: var(--tabs-selected-font-color)
}

.doc .tab.selected:hover {
    color: var(--tabs-selected-font-color);
    text-decoration: none
}

.doc div.openblock.tabs-content>.content {
    background-color: var(--tabs-group-background-color);
    padding: 1rem
}

body.toc-left #doc {
    border-left: 1px solid var(--layout-border-color);
    margin-left: var(--toc-width);
    overflow: auto
}

#toc {
    border-right: 1px solid var(--layout-border-color);
    display: var(--toc-display);
    font-size: .95rem;
    line-height: 1.1;
    margin-left: calc(var(--toc-width)*-1);
    padding: 1.7rem 1rem 0;
    position: absolute;
    top: var(--layout-banner-height);
    width: var(--toc-width)
}

#toctitle {
    display: none
}

#toc ol,
#toc ul {
    padding: 0
}

#toc ul ol,
#toc ul ul {
    padding-left: .8rem
}

#toc li {
    display: block;
    list-style: none
}

#toc a {
    border-radius: 4px;
    color: var(--toc-font-color);
    display: block;
    padding: .4rem .6rem;
    text-decoration: none
}

#toc a:hover {
    background-color: var(--toc-hover-background-color)
}

body.fixed-toc #toc {
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 0
}

#toc li.active>a {
    background-color: var(--toc-active-background-color);
    color: var(--toc-active-font-color)
}

#toc>ol ol,
#toc>ul ul {
    display: none
}

#toc li.active>ol,
#toc li.active>ul,
#toc ol.expanded,
#toc ul.expanded {
    display: block
}

#back-to-index {
    display: block;
    margin-bottom: .6rem
}

#back-to-index a {
    margin-bottom: .6rem;
    margin-top: -.9rem;
    padding-left: 1.6rem
}

#back-to-index a:before {
    background: no-repeat 50%/16px 16px;
    background-image: url(../img/octicons-16.svg#view-chevron-left);
    content: "";
    display: block;
    filter: var(--toc-back-to-index-filter);
    left: 1.4rem;
    min-height: 16px;
    min-width: 16px;
    position: absolute
}

#side-bar {
    background-color: var(--body-background-color);
    border-bottom: 1px solid var(--panel-border-color);
    display: var(--toc-bar-display);
    height: var(--tocbar-height);
    width: 100%;
    z-index: 10000
}

#tocbar {
    height: 100%;
    padding-left: 6px;
    width: 100%
}

body.fixed-toc #side-bar {
    position: fixed;
    top: 0
}

button#toggle-toc {
    background: no-repeat 50%/16px 16px;
    background-image: url(../img/octicons-16.svg#view-three-bars);
    border: none;
    display: block;
    filter: var(--toc-bar-button-filter);
    height: var(--toc-bar-height);
    outline: none;
    padding: 0;
    width: var(--toc-bar-height)
}

body.show-toc button#toggle-toc {
    background-image: url(../img/octicons-16.svg#view-x)
}

@media screen and (max-width: 800px) {
    body.fixed-toc #toc {
        top: var(--toc-bar-height)
    }

    #toc {
        background-color: var(--body-background-color);
        height: 100%;
        left: 0;
        top: calc(var(--layout-banner-height) + var(--toc-bar-height));
        width: 100%;
        z-index: 10000
    }

    body.show-toc #toc {
        display: block
    }
}
